@use "@/styles/_variables.scss" as *;

.container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 3%;
  background-color: rgba($color: black, $alpha: .2) ;
}

.mainContainer {
  width: 100%;
  max-width: 650px;
  height: 65%;
  padding: 1rem;
  border-radius: 10px;
  overflow: scroll;
  background-color: $gray;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.paragraph {
  font: normal 1rem/1.5rem var(--font-jp);
  margin-bottom: 3rem;
}

.heading {
  text-align: center;
  margin-bottom: 1rem;
}

.list {
  list-style: decimal;
  list-style-position: inside;
}