@use "@/styles/_variables.scss" as *;

.container {
  width: 100%;
  height: calc(100vh - 10rem);
  margin: 5rem auto 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: scroll;

  @include mq(lg) {
    width: 100%;
    height: calc(100vh - 2rem);
    padding: 0 calc(20rem - 3%) 0 calc(14rem - 3%);
    margin: 1rem auto 1rem;
    gap: 1rem;
  }

  & .title {
    width: 100%;
    max-width: 550px;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  & .authDetail_container {
    justify-self: flex-start;

    @include mq(lg) {
      display: none;
    }
  }

  & .reachInput_label {
    font: 700 1rem var(--font-en);
    margin-bottom: 1rem;
    width: 100%;
    max-width: 550px;
    z-index: 10;

    @include mq(lg) {
      margin: 0 auto;
    }
  }

  & .reachInput_input {
    width: 100%;
    color: $baseColor;
    background-color: white;
    height: 3rem;
    border-radius: 10px;
    padding: 0 1rem;
    margin-top: .3rem;

    &::placeholder {
      font-weight: normal;
      opacity: .5;
    }
  }

  & .chart_container {
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  & .modalbutton_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

}