@use "@/styles/variables" as *;

.auth {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  gap: 1rem;
  font-family: var(--font-en);

  &_icon_container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    background-color: white;
  }

  &_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}