@use "@/styles/_variables.scss" as *;

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  margin: 0 auto 3rem;
  padding-top: 5rem;
  grid-template-rows: 1fr 1rem 1fr 1fr 5fr;
  gap: 2rem;

  @include mq(lg) {
    padding-top: 1rem;
    padding: 0 calc(20rem - 3%) 0 calc(14rem - 3%);
  }

  & .button_container{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}