@use "@/styles/_variables.scss" as *;

.container{
  width: 100%;
  max-width: 550px;
  margin: 5rem auto;

  @include mq(lg){
    margin: 0 auto;
    transform: translateX(-3rem);
  }

  & .button_container{
    width: 100%;
    padding: 1.5rem 0 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}