@use "@/styles/_variables.scss" as *;

.container{
  width: 100%;
  height: 100vh;
  max-width: 550px;
  margin: 5rem auto;
  overflow: scroll;

  @include mq(lg){
    margin: 0 auto;
    transform: translateX(-3rem);
  }

  & .button_container{
    width: 100%;
    padding: 1.5rem 0 4rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;

    & .button_inner{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}