@use "@/styles/_variables.scss" as *;

.button {
  display: block;
  width: 1.3rem;
  aspect-ratio: 1/1;
  position: relative;

  & .icon_container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
  }

}

.journal_link {
  width: 7rem;
  height: 1.2rem;

  & .inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & span {
      width: 5rem;
      font: bold 1.5rem var(--font-en);
    }

    & .image_inner {
      width: 1.5rem;
      aspect-ratio: 1/1;
      position: relative;
      font: bold 1.2rem var(--font-en);
      transition: transform .3s $ease;

      & img {
        transform: translateX(40%) rotate(-90deg);
      }
    }
  }

  &:hover {
    & .inner {
      & .image_inner {
        transform: translateX(50%);
      }
    }
  }
}

.modalToggle {
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 0;
  margin-bottom: 1rem;

  & button {
    font: bold 2rem var(--font-en);
    animation: $plusAnimation;
  }

  & span {
    display: block;
    font-size: .9rem;
  }
}

.createAndCancel_button {
  width: 6rem;
  aspect-ratio: 2/1;
  border-radius: 10px;
  font-weight: bold;
  font: 700 1rem var(--font-en);
  transition: all .1s $ease;

  &:global(.CANCEL),
  &:global(.DELETE) {
    background-color: $alertRed;
    transition: all .1s $ease;

    &:hover {
      background-color: lighten(#FF3700, 10%);
      transform: scale(1.1);
    }
  }

  &:global(.CREATE),
  &:global(.SAVE) {
    background-color: $green;
    transition: all .1s $ease;

    &:hover {
      background-color: lighten($green, 10%);
      transform: scale(1.1);
    }
  }
}

.back {
  width: 7rem;
  height: 1.2rem;

  & .inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & span {
      width: 5rem;
      font: bold 1.5rem var(--font-en);
    }

    & .image_inner {
      width: 1.5rem;
      aspect-ratio: 1/1;
      position: relative;
      font: bold 1.2rem var(--font-en);
      transition: transform .3s $ease;

      & img {
        transform: translateX(10%) rotate(90deg);
      }
    }
  }

  &:hover {
    & .inner {
      & .image_inner {
        transform: translateX(-40%);
      }
    }
  }
}

.howTo_link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font: bold 1rem var(--font-en);
  color: #fff;
  background-color: $red;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s $ease;

  &:hover {
    background-color: darken($red, 10%);
  }
}