@use "@/styles/_variables" as *;

.form{
  width: 100%;
  max-width: 550px;
  margin: 5rem auto 0;

  @include mq(lg){
    margin: 2rem auto 0;
  }

  & .select{
    background-color: transparent;
    border: none;
    font: bold 1rem/1rem var(--font-jp);
    color: white;
  }
}