@use "@/styles/_variables.scss" as *;

.watch_container {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .watch_inner {
    width: 2rem;
    aspect-ratio: 1/1;
    position: relative;
  }

  & .watch_count {
    display: block;
  }
}

.delete_container {
  width: 1rem;
  aspect-ratio: 1/1;
  position: relative;

  & image{
    transition: transform .1s $ease;
  }
}