@use "@/styles/_variables" as *;

.login_header {
  width: 94%;
  height: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(3px);
  z-index: 99999;

  @include mq(lg){
    width: calc(100vw - 36rem);
  }

  & .header_icon {
    align-self: center;
  }
}