@use "@/styles/_variables" as *;


.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 2fr 2fr;
  position: relative;

  & .image_container {
    position: relative;
    margin-bottom: 1rem;
    justify-self: center;
    align-self: center;
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: .2rem;
      transform: scale(1.1);
    }
  }

  & .text_container {
    display: grid;
    grid-template-rows: 1fr 1fr;

    & .headline {
      margin-bottom: 1rem;

      @include mq(xl){
        font: 1.5rem;
      }
    }

    & .description {
      margin-bottom: 1rem;
    }
  }

  & .holizon_line{
    width: 100%;
    max-width: 550px;
    height: .1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include mq(lg){
      display: none;
    }
  }

  &:nth-child(2){

    & .holizon_line{
      display: none;
    }
  }
}