@use '@/styles/_variables' as *;

.skills_container {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;

  & .skills_inner {
    width: 5rem;
    aspect-ratio: 1/1;
    background: $red;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .15s $ease;
    animation: float 3s ease-in-out infinite;
    animation-play-state: running;

    @include mq(md) {
      width: 5.5rem;
    }

    @include mq(lg) {
      width: 6rem;
    }

    &:hover{
      animation-play-state: paused;
    }

    &_name {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 4.5rem;
      height: 1rem;
      font-size: .7rem;
      font-weight: bold;
      color: white;
      white-space: nowrap;
      line-height: 1rem;

      @include mq(md) {
        width: 5rem;
        font-size: .8rem;
      }
    }
  }
}

@keyframes float {
  0% {
      transform: translateY(0) scale(1);
  }
  20% {
      transform: translateY(-.5px) scale(1.01);
  }
  40% {
      transform: translateY(.7px) scale(0.99);
  }
  60% {
      transform: translateY(-.5px) scale(1.02);
  }
  80% {
      transform: translateY(1.1px) scale(0.99);
  }
  100% {
      transform: translateY(0) scale(1);
  }
}
