@use '@/styles/variables' as *;

.skills_container {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;

  & .skills_inner {
    width: 5rem;
    aspect-ratio: 1/1;
    background: $red;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include mq(md) {
      width: 5.5rem;
    }

    @include mq(lg) {
      width: 6rem;
    }

    &_name {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 4rem;
      height: 1rem;
      font-size: .8rem;
      font-weight: bold;
      color: white;
      white-space: nowrap;
      line-height: 1rem;

      @include mq(md) {
        width: 5rem;
        font-size: .9rem;
      }
    }
  }

}