@use '@/styles/_variables' as *;

.container {
  width: 100%;
  height: 100vh;
  margin: 5rem auto 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: scroll;

  @include mq(lg) {
    width: 100%;
    height: calc(100vh - 2rem);
    padding: 0 calc(20rem - 3%) 0 calc(14rem - 3%);
    margin: 1rem auto 1rem;
  }

  & .backButton_container{
    width: 100%;
    max-width: 550px;
    // justify-self: flex-start;
    margin: 0 auto;
  }

  & .authDetail_container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    justify-self: flex-start;
  }

  & .skills_wrapper {
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .chatData_wrapper {
      width: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mq(lg) {
        width: 12rem;
      }

      & .skillRegisterButton {
        width: 100%;
        font: bold 1.5rem var(--font-en);
        text-align: center;
        margin-bottom: .5rem;
        animation: $plusAnimation;
        z-index: 10;
        transition: transform 1s $ease;

        &:hover {
          animation-play-state: paused;
          transform: scale(1.5);
        }
      }
    }
  }
}