@use '@/styles/variables' as *;

.skills_wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;

  @include mq(sm) {
    width: calc((100vh / 9) * 7 - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include mq(lg) {
    width: calc((100vh / 6) * 5 - 3rem);
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 7fr;
  gap: 2rem;
  padding: 7rem 3%;
  margin-bottom: 5rem;
  place-items: center;

  @include mq(lg) {
    width: calc(100vw - 36rem);
    padding-top: 1rem;
    margin: 0 auto 5rem;
    grid-template-rows: 1fr 5fr;
    gap: 1.5rem;
  }

  & .authDetail_container {
    justify-self: flex-start;

    @include mq(lg) {
      display: none;
    }
  }

  & .icons_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 2rem;
  }
}