@use "@/styles/_variables" as *;

.container {
  text-align: center;

  @include mq(lg) {
    bottom: 10rem;
  }

  & .date {
    display: block;
    font-family: var(--font-en);
    font-size: 1rem;

    @include mq(lg) {
      font-size: 1.3rem;
    }
  }

  & .action_count {
    display: block;
    font-family: var(--font-en);
    font-size: 1rem;

    @include mq(lg) {
      font-size: 1.3rem;
    }
  }
}