@use '@/styles/_variables' as *;

.container {
  width: 100%;
  height: calc(100vh - 10rem);
  margin: 5rem auto 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: scroll;

  @include mq(lg) {
    width: 100%;
    height: calc(100vh - 2rem);
    padding: 0 calc(20rem - 3%) 0 calc(14rem - 3%);
    margin: 1rem auto 1rem;
    gap: 1rem;
  }

  & .authDetail_container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    justify-self: flex-start;
  }

  & .icons_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }


  & .skills_wrapper {
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(lg) {
      // width: calc((100vh / 10) * 7 - 7rem);
    }

    & .chatData_wrapper {
      width: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mq(lg) {
        width: 12rem;
      }

      & .skillRegisterButton {
        width: 100%;
        text-align: center;
        margin-bottom: .5rem;
        animation: skillRegisterButtonAnimation 1s infinite;
        cursor: pointer;
        z-index: 10;
        transition: transform 1s $ease;

        &:hover {
          animation-play-state: paused;
          transform: scale(1.5);
        }
      }
    }
  }
}

@keyframes skillRegisterButtonAnimation {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1.2);
  }
}